/* .App {
  text-align: center;
}

.box{
  padding: 10px;
  border: 1px solid black;
  display: inline-block;margin: 10px;
}

.row{
  display: flex;
  text-align: center;
  justify-content: center;
}

.block{
  border: 1px solid green;
  margin: 10px;
  
} */

th{
  cursor: pointer;
}

th.ascending::after{
  display: inline-block;
  margin-left: .3em;
  /* color: red; */
  content: 	'▲';
}
th.descending::after{
  display: inline-block;
  margin-left: .3em;
  /* color: red; */
  content: 	'▼';
}

.pagination {
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  text-decoration: none !important;
}


.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}


.head li{
  list-style: none;
  cursor: pointer;
  background-color: #f2f2f2;
  display: block;
  min-height: 50px;
  padding: 11px 16px;
  width: 310px;
  border: 1px solid #80808038;
  border-radius: 5px;
  margin-top: 5px;
  text-transform: capitalize;
}
.head li:hover{
  background-color: rgba(128, 128, 128, 0.623);
}


/* .head > ul> ul >li + ul{
  display: none;
} */

/* .head > ul> ul> li:hover + ul{
  display: block;
  /* position: relative;
  left: 249px;
  top: -35px; 
}  */

.head .active{
  background-color: gray;
}